h4{
    background-color: #EAF2EF;
    line-height:2;
    margin:0px;
}

.modal-dialog{
    width:90%;
}

.instruction_image{
    display:inline-block;
    width:45%;
}

.modal-header{
    width:100%
}

.heading{
    width:100%;
    display:inline-block;
}

#instructions{
    float: right;
}

video{
    background: url('game_console.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
}